<!-- <p>login works!</p> -->

<section *ngIf="!logged">
  <form
    *ngIf="!errorMessage"
    class="form-inline my-2 my-lg-0"
    #loginForm="ngForm"
    (ngSubmit)="signIn(loginForm.value)"
  >
    <input
      class="form-control mr-sm-2"
      type="text"
      name="name"
      ngModel
      placeholder="Name"
    />
    <input
      class="form-control mr-sm-2"
      type="password"
      name="password"
      placeholder="password"
      ngModel
    />

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Sign In
    </button>
  </form>
  <div *ngIf="errorMessage">
    <p class="my-auto form-control mr-sm-2">{{ errorMessage }}</p>
  </div>
</section>
<section *ngIf="errorMessage">
  <!-- <form class="form-inline my-2 my-lg-0">
      <input
        type="text"
        class="form-control mr-sm-2"
        role="search"
        placeholder="Search"
        label="search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="button">
        Search
      </button>
    </form> -->
</section>
<button *ngIf="logged" class="btn btn-danger" (click)="signOut()">
  Sign Out
</button>
